<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TicTacToeWinForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <TicTacToeWinForms.Properties.Settings>
            <setting name="ButtonControlSize" serializeAs="String">
                <value>80, 80</value>
            </setting>
            <setting name="InfoPanelSize" serializeAs="String">
                <value>354, 40</value>
            </setting>
            <setting name="FieldSize" serializeAs="String">
                <value>3</value>
            </setting>
        </TicTacToeWinForms.Properties.Settings>
    </userSettings>
</configuration>